.container {
	margin: 0 auto;
	width: $width-desktop;
	padding-top: 50px;
	text-align: center;

}
h1 {
	font-size: $font-size-h1;
	text-align: center;
	color: tomato;
}

p {
	font-size: $font-size-large;
	display: flex;
}
