// Colors
$color-base: blue;

// Fonts
$font-size-base: 14px;
$font-size-small: $font-size-base - 3px;
$font-size-large: $font-size-base + 6px;
$font-size-h1: $font-size-base + 15px;
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h6: $font-size-base;

// Responsive
$width-desktop: 1024px;